# Logs
logs
*.log
npm-debug.log*

# Serverless Framework
.serverless/
.env

# Dependencies
node_modules/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
dist/
build/
out/